
.fxLayout{
  overflow-x: scroll;
  overflow-y: scroll;
  max-height: 800px;
}

.fxFlex {
  margin: 0px;
  width: 100%;
  background-color: white;
  font-size: 14px;
  color: black;

}

.cdk-overlay-pane.my-dialog {
  position: relative!important;
}
.close.mat-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
  min-width: auto;
}

pre {
  display: block;
  font-size: 87.5%;
  color: #212529;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

fhir-sse {
  padding: 20px;
}


