h4
{
    text-align: center;
    padding: 10px;
    background: #7b3d3d;
    color: white;
}

p
{
    text-align: center;
    padding: 10px;
}

h6
{
    text-align: center;
    padding: 10px;
    background: #7b3d3d;
    color: white;
}