<style>
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: #fff;
        background-color: #0029a0;
    }
    
    .panel-background {
        background: #1e22aa;
        color: white;
    }
    
    a:hover {
        background: #0b2265;
        color: white;
    }
    
    .loginout{
    height:40px;
    width:120px;
}
</style>

<div class="card" style="margin-top:20px;">
    <div class="card-header panel-background" *ngIf="userProfile">
        Sepsis Demo

        <div class="dropdown float-right" triggers="mouseenter:mouseleave" placement="left">
            <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span style="font-size: 15px"></span>
                <fa-icon [icon]="faUser" style="margin-right:10px;"> </fa-icon>{{user.name}} {{user.role}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" *ngFor="let curuser of userList" (click)="changeSelectedOption(curuser)"
                    href="#">
                    <div>
                        <p>
                            <fa-icon [icon]="faArrowCircleLeft" style="margin-right:10px;"></fa-icon> {{curuser.name}} <span
                                style="font-size:12px">{{curuser.role}}</span>
                        </p>

                    </div>
                </a>
            </div>
        </div>
        <div class="float-right" style="margin-right:10px;" (click)="openSettings()" *ngIf="isAdminUser">
            <button class="btn btn-sm btn-warning">
                <fa-icon [icon]="faCogs"></fa-icon>
            </button>
        </div>
        <div class="float-right" style="margin-right:10px;" >
            <button class="btn btn-sm btn-warning" (click)="openClosedCases()">
                <fa-icon [icon]="faDatabase"></fa-icon> Show Closed Cases
            </button>
        </div>
    </div>
    <div class="card-body" *ngIf="userProfile">
        <app-Admin [user]="user"></app-Admin>
    </div>
</div>
