<nav class="navbar navbar-light" style="background: #1e22aa;    border-bottom: 2px solid gray;">
  <a class="navbar-brand" href="#">
     <img src="../assets/images/himms.svg" width="140px">
  </a>
  <h4 style="color: white;text-align: center;"> HIMSS Sepsis Demo </h4>
  <a class="float-right">
    <img src="https://static.redhat.com/libs/redhat/brand-assets/2/corp/logo--on-dark--200.png" >
  </a>
</nav>
<div class="container-fluid">
  <div class="col-md-12">
    <app-main-component></app-main-component>
    <fhir-sse></fhir-sse>
  </div>
</div>
